*{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    margin-bottom: 80px;
}

.top-banner{
    position: relative;
    width: 1500px;
    height: 576px;
    background: #F0FFF0;
}

.top-text{
    margin-top: 50px;
}


.top-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: 80px;

}

.button{
    
    padding: 12px 36px;
    margin-top: 20px;
    border: none;
    background: #21B573;
    border-radius: 33px;
    color: white;
}

.nav-button{
    padding: 0px 10px;
    border: none;
    background: #21B573;
    border-radius: 33px;
    color: white;
}

.card{
    border: none;
    position: relative;
    height: 220px;
    width: 270px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    padding-top: 40px;
    background: #edf6f1;
    border-radius: 10px;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5px;
    padding: 5px;   
}
        
.card-title, .card-text{
    text-align: center;
    line-height: 0.6;
}

.card:hover{
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    background: rgb(255, 255, 255);
}
    
.head{
    padding: 30px;
}       

.courses{
    
    
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.online-classes{
    background: none;
    border: none;
    position: relative;
    width: 370px;
    height: 483px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.online-classes:hover{
    box-shadow: -1px 9px 40px -12px rgba(161, 157, 157, 0.1);
    background: rgb(163, 157, 157);

}

.course_date{
    padding-top: 20px;
}



.intro{
       display: flex;
}

.testimonial_image{
    padding-left: 160px;
}

.study{
    padding: 30px;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.teacher, .books, .campus, .confidence, .Digital{
    text-align: center;
    padding:30px !important;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}


.backtoschool{
    padding-left: 10px;
}

.quality{
    padding-top: 30px;
}


.intro_text{
    padding-right: 130px;
    padding-left: 50px;
}

.last-part{
    position: relative;
    width: 1463px;
    height: 369px;
    left: 0px;
    background: #282531;
    color: white;
}

.last_part{
margin-top: 60px;
}

.flast_part h4{
    padding-bottom: 20px;
    font-weight: bold;
}






